$dark-color: hsla(270, 4%, 9%, 1)
$light-color: hsla(0, 0%, 100%, 1)
$font-primary: 'Montserrat', sans-serif
$font-secondary: 'Lora', serif

*,
*::after,
*::before
  margin: 0
  padding: 0
  box-sizing: border-box

html,
body
  background: $dark-color
  padding-bottom: 61px

  font-family: $font-primary
  font-size: 14px
  line-height: 17px
  font-weight: 400
  color: $light-color

body
  display: grid
  grid-template-rows: auto 1fr

a
  color: $light-color
  text-decoration: none
  font-weight: 500

  &:active,
  &:focus,
  &:hover,
    color: $light-color

img
  width: 100%

.container
  margin: 0 auto
  padding: 0 13px

.main
  &-header
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding-top: 19px 
    padding-bottom: 19px
    margin-bottom: 38px
    background: $dark-color

  &-logo
    font-family: 'Crimson Pro', serif
    font-weight: 200
    font-size: 14px
    line-height: 16px
    border: 1px solid $light-color
    padding: .5rem
    text-transform: uppercase

  &-menu
    list-style: none
    display: none
    grid-gap: 3rem
    
    transition: 0.5s

.menu-item
  > a
    font-size: 18px
    line-height: 22px
    padding-bottom: 8px
    transition: opacity 1s

    &.active
      border-bottom: 2px solid $light-color

    &:hover
      opacity: .3
      transition: opacity 1s

.hero
  height: 100%

  &-text-section
    padding-right: 1rem

  &-title
    font-family: $font-secondary
    font-weight: 500
    font-size: 36px
    line-height: 46px
    margin-bottom: 25px

  &-description
    margin-bottom: 25px
    white-space: pre-line
  
  &-cta
    display: flex
    align-items: center
    gap: .7rem
    margin-bottom: 26px

    font-weight: 700
    font-size: 14px
    line-height: 17px

  &-img-section
    position: relative

  &-img
    > img
      height: 100%
      object-fit: cover

.card
  display: flex
  gap: 11px
  flex-direction: column
  margin-top: 1rem
  width: 300px

  position: absolute
  right: 13px
  bottom: -15%
  margin-top: 0

  background: $dark-color
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  padding: 26px

  &-header
    display: flex
    gap: .5rem
    align-items: center

  &-img
    > img
      width: 40px
      height: 40px
      border-radius: 50%

  &-user
    &-name
      display: block
      font-weight: 500
      font-size: 12px
      line-height: 15px
      margin-bottom: 5px

    &-description
      display: block
      font-weight: 500
      font-size: 10px
      line-height: 12px
      color: hsla(0, 0%, 51%, 1)

  &-title
    grid-area: c-title
    font-family: $font-secondary
    font-size: 18px
    line-height: 23px
    font-weight: 700

.icon
  width: auto
  display: inline-block

.toggle-nav
  background-color: transparent
  border: none
  padding-top: 2px
  z-index: 2
  cursor: pointer

#toggle-nav
  display: none

  &:checked
    + .toggle-nav
      content: url("/img/icon/close.svg")
      height: 40px
      position: fixed
      right: 1rem
      top: 1rem

      + .main-menu
        height: 100vh
        position: absolute
        right: 0
        left: 0
        z-index: 1
        top: 0
        bottom: 0

        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        text-align: center
        background: $dark-color

        transition: 0.3s

@media screen and (min-width: 528px)
  .hero
    &-description
      white-space: normal

@media screen and (min-width: 998px)
  html,
  body
    height: 100%
    min-height: 100vh
    font-size: 24px
    line-height: 29px
    padding-bottom: 0
  
  .toggle-nav
    display: none

  .container
    max-width: 1200px
    margin: 0 auto
    height: 100%
    padding-top: 25px
    padding-bottom: 25px

  .main
    &-header
      padding-top: 42px
      padding-bottom: 42px
      margin-bottom: 0

    &-menu
      display: flex

    &-logo
      padding: .2rem

  .hero
    display: grid
    grid-template-columns: 2fr 3fr
    gap: 2rem
    align-items: center
    
    &-title
      font-size: 48px
      line-height: 61px
      margin-bottom: 40px

    &-description
      margin-bottom: 48px
      white-space: pre-line

    &-cta
      font-size: 18px
      line-height: 22px
      margin-bottom: 0
      gap: .2rem

  .card
    right: 34px
    width: 410px

    &-user
      &-name
        font-size: 14px
        line-height: 17px
        margin-bottom: 8px

      &-description
        font-size: 12px
        line-height: 15px

    &-title
      font-size: 24px
      line-height: 31px

  .icon
    height: 30px